<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        tools:targetApi="31">
        <activity
            android:name=".Activity.item_additional"
            android:exported="false" />
        <activity
            android:name="transaksi.card_dialog_mod"
            android:exported="false" />
        <activity
            android:name="transaksi.notaTransaksi"
            android:exported="false" />
        <activity
            android:name="transaksi.Pembayaran"
            android:exported="false" />
        <activity
            android:name="transaksi.KonfirmasiData"
            android:exported="false" />
        <activity
            android:name="transaksi.layanan_tambahan"
            android:exported="false" />
        <activity
            android:name=".pilih_layanan"
            android:exported="false" />
        <activity
            android:name="transaksi.cari_pelanggan"
            android:exported="false" />
        <activity
            android:name=".activity_transaksi"
            android:exported="false" />
        <activity
            android:name=".login_Laundry"
            android:exported="false" />
        <activity
            android:name="transaksi.card_data_laporan"
            android:exported="false" />
        <activity
            android:name="transaksi.data_layanan"
            android:exported="false" />
        <activity
            android:name="com.chelvie.Layanan.Card_Layanan"
            android:exported="false" />
        <activity
            android:name=".pegawai.data_pegawai"
            android:exported="false" />
        <activity
            android:name=".pegawai.TambahPegawai"
            android:exported="false" />
        <activity
            android:name=".pelanggan.TambahPelanggan"
            android:exported="false" />
        <activity
            android:name=".pelanggan.DataPelanggan"
            android:exported="false" />
        <activity
            android:name="transaksi.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>